*,
*::before *::backdrop {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	text-align: center;
	padding-top: 2rem;
	background-color: lightskyblue;
}

h3 {
	width: 100%;
	text-align: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.weather-card {
	border-radius: 8px;
	padding: 16px;
	margin: 8px;
	background-color: rgb(122, 204, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	max-width: 300px;
	min-width: 300px;
}

.today--Container {
	border-radius: 8px;
	padding: 1.5rem;
	background-color: rgb(122, 204, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.forecast--Container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgb(112, 198, 252);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 1rem;
	margin-top: 1rem;
}

.hourly--Forecast {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 4px;
	max-width: fit-content;
	padding: 5px;
}

.hourly--Forecast p {
	margin: 0.25rem 0;
	font-size: 0.8rem;
	color: #333;
}

.today--icon {
	width: 100px;
	height: 100px;
}

.today--hourly--icon {
	width: 25px;
	height: 25px;
}

.weaterCard--icon {
	width: 100px;
	height: 100px;
}

.welcome--div {
	width: 50ch;
	margin: 0 auto;
	margin-top: 5rem;
	background-color: rgb(112, 198, 252);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	padding: 1rem;
}

.welcome--div p {
	font-size: large;
	padding-bottom: 1rem;
}

.searchField--container {
	padding: 1rem;
}

.searchField--input {
	border-radius: 0.4rem;
	height: 2rem;
	width: 40vw;
	font-size: large;
	padding-left: 0.3rem;
	border-style: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.search--btn {
	margin-left: 1rem;
	cursor: pointer;
	font-size: 1em;
	border-radius: 0.4rem;
	border-style: none;
	padding: 10px;
}

.search--btn:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	background-color: #dfdfdf;
}
